@import 'base.css';

:root {

    /* === Colores base === */
    --color-azul: #27295f;
    --color-verde: #74A945;
    --color-gris: #B8B7B7;
    --color-blanco: #ffffff;


    /* === Menú de módulos de la izquierda === */
    --modules-list-color: var(--color-blanco);
    --modules-list-background: var(--color-azul);
    --modules-list-selected-color: var(--color-verde);
    --modules-list-hover-background: rgba(255, 255, 255, 0.05);


    /* === Cabecera del módulo === */
    --module-header-color: var(--color-blanco);
    --module-header-background: var(--color-azul);


    /* === Botonera === */
    --button-bar-button-color: var(--color-azul);
    --button-bar-background: var(--color-blanco);
    --list-formats-color: var(--color-gris);
    --list-formats-hover-color: white;


    /* === Fondos y etiquetas === */
    --background: var(--color-blanco);
    --color: var(--color-azul);


    /* === Marcos === */
    --frame-background: var(--color-blanco);


    /* === Acciones === */
    --action-color: var(--color-verde);
    --action-hover-color: var(--color-azul);
    --action-hover-background: rgba(39, 41, 95, 0.1);
    --default-action-button-background: var(--color-azul);

    --default-action-button-background: var(--color-azul);
    --default-action-button-color: var(--color-blanco);


    /* === Editores === */
    --required-editor-border: var(--color-verde);
}


